<div class="p-3"> 
  <ng-floating-label
    type="text"
    class="form-control"
    placeholder="Email address"
  ></ng-floating-label>
</div>

<div class="p-3"> 
  <ng-floating-label
    type="text"
    class="form-control"
    placeholder="Email Address"
    style="height: 80px"
  ></ng-floating-label>
</div>

<div class="p-3"> 
  <ng-floating-label
    type="text"
    class="form-control"
    placeholder="Email Address"
    style="height: 30px"
  ></ng-floating-label>
</div>

<div class="p-3"> 
  <ng-floating-label
    class="form-control"
    placeholder="Email Address"
    style="height: 30px"
    required
  ></ng-floating-label>
</div>
